:root {
    --cor-principal: #1073B5;
    --background: #fff;
    --cor-secundaria: #1F97CE;
}

body {
    background-image: url(../img/watercolor-background_87374-69.jpg);
    height: 500px;
    background-position: center;
    background-size: 1400px;
}

.box-recuperacao {
    max-width: 380px;
    border: 2px solid #ddd;
    margin: auto;
    margin-top: 70px;
    padding: auto;
    background-color: var(--background);
    padding-top: 0%;
    min-height: 90%;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgb(50, 50, 50);
}

.logo {
    text-align: center;
    margin-top: 20px;
}
.texto-principal {
    text-align: center;
    color:var(--cor-principal);

}
.texto-secundario {
    text-align: center;
}
.campo-email, input {
    margin: auto;
    text-align: center;
    width: 80%;
    padding: 12px;
    border: 0;
    border-radius: 3px;
}
input {
    border: 2px solid #ddd;
    text-align: center;
}
input:focus{
    border: 2px solid var(--cor-principal);
}
.botao {
    padding: 12px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#botao-enviar {
    color: #fff;
    background-color: var(--cor-principal);
    cursor: pointer;
    padding: 8px;
    border: 0;
}
#botao-enviar:hover {
    background-color: var(--cor-secundaria);
}